<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ManMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.po.Man" >
    <id column="man_id" property="manId" jdbcType="INTEGER" />
    <result column="man_name" property="manName" jdbcType="VARCHAR" />
    <result column="man_sex" property="manSex" jdbcType="VARCHAR" />
    <result column="man_age" property="manAge" jdbcType="INTEGER" />
    <result column="wom_id" property="womId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    man_id, man_name, man_sex, man_age, wom_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.po.ManExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from man
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from man
    where man_id = #{manId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from man
    where man_id = #{manId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.po.ManExample" >
    delete from man
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.Man" >
    insert into man (man_id, man_name, man_sex, 
      man_age, wom_id)
    values (#{manId,jdbcType=INTEGER}, #{manName,jdbcType=VARCHAR}, #{manSex,jdbcType=VARCHAR}, 
      #{manAge,jdbcType=INTEGER}, #{womId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.Man" >
    insert into man
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manId != null" >
        man_id,
      </if>
      <if test="manName != null" >
        man_name,
      </if>
      <if test="manSex != null" >
        man_sex,
      </if>
      <if test="manAge != null" >
        man_age,
      </if>
      <if test="womId != null" >
        wom_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manId != null" >
        #{manId,jdbcType=INTEGER},
      </if>
      <if test="manName != null" >
        #{manName,jdbcType=VARCHAR},
      </if>
      <if test="manSex != null" >
        #{manSex,jdbcType=VARCHAR},
      </if>
      <if test="manAge != null" >
        #{manAge,jdbcType=INTEGER},
      </if>
      <if test="womId != null" >
        #{womId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.po.ManExample" resultType="java.lang.Integer" >
    select count(*) from man
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update man
    <set >
      <if test="record.manId != null" >
        man_id = #{record.manId,jdbcType=INTEGER},
      </if>
      <if test="record.manName != null" >
        man_name = #{record.manName,jdbcType=VARCHAR},
      </if>
      <if test="record.manSex != null" >
        man_sex = #{record.manSex,jdbcType=VARCHAR},
      </if>
      <if test="record.manAge != null" >
        man_age = #{record.manAge,jdbcType=INTEGER},
      </if>
      <if test="record.womId != null" >
        wom_id = #{record.womId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update man
    set man_id = #{record.manId,jdbcType=INTEGER},
      man_name = #{record.manName,jdbcType=VARCHAR},
      man_sex = #{record.manSex,jdbcType=VARCHAR},
      man_age = #{record.manAge,jdbcType=INTEGER},
      wom_id = #{record.womId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.Man" >
    update man
    <set >
      <if test="manName != null" >
        man_name = #{manName,jdbcType=VARCHAR},
      </if>
      <if test="manSex != null" >
        man_sex = #{manSex,jdbcType=VARCHAR},
      </if>
      <if test="manAge != null" >
        man_age = #{manAge,jdbcType=INTEGER},
      </if>
      <if test="womId != null" >
        wom_id = #{womId,jdbcType=INTEGER},
      </if>
    </set>
    where man_id = #{manId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.Man" >
    update man
    set man_name = #{manName,jdbcType=VARCHAR},
      man_sex = #{manSex,jdbcType=VARCHAR},
      man_age = #{manAge,jdbcType=INTEGER},
      wom_id = #{womId,jdbcType=INTEGER}
    where man_id = #{manId,jdbcType=INTEGER}
  </update>
</mapper>